<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirtasiye Yönetim Paneli</title>
      <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
      <link rel="stylesheet" href="/css/bookStoreBulkAdd.css">
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <header>
        <h1>Kirtasiye Yönetim Paneli</h1>
        <nav>
            <ul>
                <li class="anaSayfa"><a href="/index/bookStore">Ana Sayfa</a></li>
                <li class="kitapEkle"><a href="/index/bookStoreAddBooks">Yeni kitap Ekle</a></li>
                <li class="bilgilerimiGuncelle"><a href="/index/bookStoreUpdateInfos">bilgilerimi guncelle</a></li>
                <li class="bulkAddBooks"><a href="/index/bookStoreBulkAddBooks">dosyadan kitap ekleme</a></li>
                <li id="logout"><a href="/index/bookStoreLogin">cikis Yap</a></li>
            </ul>
        </nav>
    </header>

    <!-- Dosya Seçme Alanı -->
    <img src="/images/jsonFileTemplate.png" >
    <p>ekleyeceginiz her bir kitap için json verisi bu şekilde olmali</p>
    <input type="file" id="jsonFileInput">
    <!-- JSON Verilerini Ekleme Düğmesi -->
<button class="" id="jsonFileAdd">JSON Verilerini Ekle</button>


<div class="card-container">
     </div>
       <script src="../scripts/bookStoreBulkAdd.js">

    </script>
</body>
</html>
