<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/bookStoreLogin.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  
    <h1> book store login sayfasi</h1>
        <form id="myForm" action="/index/bookStoreLogin" method="post" enctype="application/json" >
            <input type="text" name="bookStoreUserName" placeholder="username">
            <input type="password" name="bookStorePassword" placeholder="password"> 
            <button type="submit"> login</button>
        
    </form>
    <p> {{message.hata}} </p>
    
      <script src="../scripts/bookStoreLogin.js" ></script>
</body>
</html>