<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitap Arama</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    </head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/index">Ana Sayfa</a></li>
                <li><a href="/hakkimizda">hakkimizda</a></li>
                <li><a href="/iletisim">iletisim</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <div class="search-container">
            <input type="text" placeholder="Kitap adi">
            <select class="citys">
                <option value="konum">seciniz</option>
                
            </select>
            <button>Ara</button>
        </div>
  

    </main>
   <div class="card-container">

     </div>
    <script src="../scripts/index.js">

</script>
</body>
</html>
