/* Temel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
form {
    width: 500px; /* Form genişliği */
    margin: 0 auto; /* Formu ortala */
  }
  
  label {
    display: block; /* Her label'ı yeni bir satırda göster */
    margin-bottom: 5px; /* Label'lar arasına boşluk bırak */
  }
  
  input[type="text"],
  textarea {
    width: 100%; /* Veri giriş alanlarını formun genişliğine uzat */
    padding: 5px; /* Kenar boşluğu ekleyin */
    margin-bottom: 10px; /* Veri giriş alanları arasına boşluk bırak */
    border: 1px solid #ccc; /* Kenar çizgisi ekle */
    border-radius: 4px; /* Kenarları yuvarlat */
  }
  
  button {
    background-color: #4CAF50; /* Düğme arka plan rengi */
    color: white; /* Düğme metin rengi */
    padding: 10px 15px; /* Düğme boyutları */
    border: none; /* Kenar çizgisi olmasın */
    border-radius: 4px; /* Kenarları yuvarlat */
    cursor: pointer; /* Üzerine gelince işaretçi el simgesi olsun */
  }
  
  button:hover {
    background-color: #45a049; /* Üzerine gelince arka plan rengi değişsin */
  }
  